# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variable files
*.tfvars
!terraform.tfvars.example

# CLI config
.terraformrc
terraform.rc

# macOS / Linux
.DS_Store
Thumbs.db

# Logs
*.log
